.resume {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(20%,5);
    height: 1000px;
    width: 800px;
    margin-left: 25%;
    background-color: #f5f5f5;
}

.header-name {
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 1px rgb(56, 56, 56) solid;
}

.heading-title {
    place-self: center;
    
}

.profile-text {
    place-self: center;
}

.skills-text {
    
}

.experience-text {
    
}

.education-text {
    
}

.footer {
    grid-column-start: 1;
    grid-column-end: 3;
    place-self: center;
    font-size: 25px;
}